name: Generate CSV

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --no-cache-dir -r requirements.txt

    - name: Generate CSV
      run: python fetch_temperatures.py --output temperatures.csv

    - name: Upload CSV artifact
      uses: actions/upload-artifact@v4
      with:
        name: vejtemperaturer
        path: temperatures.csv
